<head><link rel="stylesheet" type="text/css" href="/styles.css"></head>
<h1>Angry Boss</h1>
<form action="boss" method="post">
  Input:
  <input type="text" name="message">
  <input type="submit" value="submit">
</form>